
<div id="algoLabel">
   <span class="label"*ngFor="let item of algoData | keyvalue">
      <b>{{item.key}}:</b> {{item.value}}
   </span>
</div>
<h5>Algorithm Status</h5>
<div style="margin-top: 38px;">
   <highcharts-chart
      [Highcharts] = "highcharts" 
      [options] = "chartOptions" [(update)]="updateFlag"
      style = "width: 100%; height: 300px; display: block;">
   </highcharts-chart>
</div>

<div class="container" style="margin-top: 65px;">
   <h5>Hyperparameter Grid</h5>
  <ag-grid-angular
  style="width: 100%; height: 200px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  >
   </ag-grid-angular>
</div>  
  


