<div *ngIf="!displayGraph" class="container text-center">
  <div class="form-group padTop">
    <label for="selectFeaturePrior">Select feature you want to predict</label>
    <select class="form-control" (change)="changeFeature($event)" id="selectFeaturePrior" [formControl]="selectControl">
      <option selected value="">Select Feature</option>
      <option *ngFor="let feature of featureOptions" [ngValue]="feature">{{feature}}</option>
    </select>
    <!-- <select class="form-control" (change)="changeFeaturePrior($event)" id="selectFeaturePrior" formControlName="selectFeaturePrior">
        <option selected value="">Select Feature</option>
        <option *ngFor="let feature of featureOptions" [ngValue]="feature">{{feature}}</option>
    </select>    -->
</div> 
</div>
<div *ngIf="displayGraph" class="container-fluid">
  <div class="">
  <div class="row">
    <div class="col-lg-4 d-lg-block pl-xs-0 pl-lg-5">
      <div class="card frmDiv">
        <h5 class="card-header">Trait prediction dashboard</h5>
        <div class="card-body">
            <form [formGroup]="featuresForm" (ngSubmit)="onSubmit()">                
                    <div class="form-group">
                        <label for="selectFeature">Select feature you want to predict</label>
                        <select class="form-control" (change)="changeFeature($event)" [ngClass]="{ 'is-invalid': submitted && f.selectFeature.errors }" id="selectFeature" formControlName="selectFeature">
                            <option value="">Select Feature</option>
                            <option *ngFor="let feature of featureOptions" [ngValue]="feature">{{feature}}</option>
                        </select>
                        <small class="form-text text-muted error-block" *ngIf="submitted && handleError('selectFeature', 'required')">You must provide a value!</small>   
                    </div> 
                      <div *ngFor="let item of formData | keyvalue">
                          <div class="form-group">
                              <label for="{{item.key}}">{{item.key}}</label>
                              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f[item.key].errors }" formControlName="{{item.key}}" id="{{item.key}}" value="{{item.value}}">
                              <small class="form-text text-muted error-block" *ngIf="submitted && handleError(item.key, 'required')">You must provide a value!</small>   
                          </div>
                      </div>   
                <div class="text-center">                
                    <button type="submit" class="btn btn-primary">Predict</button> &nbsp;&nbsp;
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="card-body">
          <div *ngIf="errorUpload">
            {{ errorUpload.message }}
          </div>
          <div *ngIf="uploadResponse.status === 'error'">
            {{ uploadResponse.message }}
          </div>
          <div *ngIf="uploadResponse.status === 'progress'">
            <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              {{uploadResponse.message}}%
            </div>
          </div>
          
            <form [formGroup]="formUpload" (ngSubmit)="onUploadSubmit()">
              <div class="row">
            <div class="col-md-8 form-group">              
              <div class="custom-file">
                <input type="file" name="avatar" class="custom-file-input" id="" (change)="uploadedFile($event)" placeholder="Upload file" accept=".xlsx">
                <label class="custom-file-label" for="">Choose file</label>
              </div>
            </div>
            <div class="col-md-4 form-group text-right">
                <button type="submit" class="btn btn-success">Upload</button>              
            </div>
          </div>
          </form>
          <div class="row">
            <div class="col-md-12 form-group text-center">
              <button type="button" class="btn btn-files" (click)="readAsCSV()">Read as CSV</button>
            
              <button type="button" class="btn btn-files" (click)="readAsJson()">Read as JSON</button>
            
              <button type="button" class="btn btn-files" (click)="readAsHTML()">Read as HTML</button>
            
              <button type="button" class="btn btn-files" (click)="readAsText()">Read as Text</button>
            </div>
          </div>
        </div>
        
    </div>

    
    
    
 

    
    </div>  
    <div class="col-lg-8 mb-md-0 mb-3">
      <div class="blueBox">
        <div class="row">          
      <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
            <h6>Dependent Features</h6>  
            <app-dependent-features></app-dependent-features>
        </div>
        <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
            <h6>Affecting Features</h6>
            <app-affecting-features></app-affecting-features>
        </div>
        <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
            <h6>Performance</h6>
            <app-performance></app-performance>
        </div>
        </div>
      </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12">
            <app-bar-chart></app-bar-chart>  
            </div>
        </div>
     
    </div>
  </div>
</div>
</div>