@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

// styles.scss


.padTop{padding-top: 200px;}
.ag-theme-alpine {
    @include ag-theme-alpine();
}
body{
    background-color: #f8f9fa;
    font-family: "Cerebri Sans",sans-serif;
}
.frmDiv{
    margin: 1rem 0!important;
}
#algoLabel{
    padding: 5px;
    float: right;

    span.label{
        background: #efefef;
        border-left: 2px solid #ff0000;
        color: #333333;
        padding: 8px 10px;
        border-right: 2px solid #e6e6e6;
        -webkit-transition: background 0.2s, color 0.2s;
        transition: background 0.2s, color 0.2s;
        font-weight: 700;
        font-size: 12px;
        display: inline-block;
        margin-left: 10px;
        font-weight: normal;        
    }
}

.blueBox{
    background: #eef4f9;
    margin: 1rem 0 !important;
    padding: 1rem 0;
    border-bottom: 2px solid #d0dfed;

    rect.highcharts-background{
        fill:  #eef4f9;
    }

    h6{
        font-size: 14px;
        color: #3275a8;
        border-bottom: 1px solid #3275a826;
        padding: 5px;
    }
}

.btn-files{  
    margin: .375rem;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    color: #ffffff !important;
    background-color: #0062cc !important;
    border: 2px solid #0062cc !important;
    padding: .28rem .4rem;
    font-size: .54rem;
    display: inline-block;

    &:hover{
        color: #0062cc !important;
        background-color: #ffffff !important;
    }
}

/*
.btn-files{
    box-shadow: none;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 90%);
    border-radius: 24px;
    font-weight: 700;
    color: hsl(0, 0%, 20%);
    font-size: 12px;
}*/

