


<div class="container"><ag-grid-angular
    #agGrid
    style="width: 100%; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    >
</ag-grid-angular></div>  

<button (click)="getSelectedRows()">Get Selected Rows</button>
