<div  [formGroup]="group">
    <div *ngFor="let item of formData | keyvalue">
        <div class="form-group">
            <label for="{{item.key}}">{{item.key}}</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f[item.key].errors }" formControlName="{{item.key}}" id="{{item.key}}" value="{{item.value}}">
            <small class="form-text text-muted error-block" *ngIf="submitted && handleError(item.key, 'required')">You must provide a value!</small>   
        </div>
    </div>   
</div>
